{
      "extension": "3500",
      "name": "Ken Rice",
      "email": "krice@freeswitch.org",
      "cid": "1008",
      "textTo": "1000",
      "login": "1008",
      "password": "1234",
      "autologin": "true",
      "autocall": "3500",
      "googlelogin": "true",
      "wsURL": "wss://gamma.tollfreegateway.com/wss2",
      "wsFallbackURL": "wss://gamma.tollfreegateway.com/wss2",
      "turnServer": {
         "urls": "turn:someturnserver.com:443?transport=tcp",
         "credential": "1234",
         "username": "username"
      }
}
