*.o
*.lo
*.so
*.a
*.orig
*.rej
*.log

Makefile
config.*
configure
libtool
aclocal.m4

detect_dtmf
detect_tones
testanalog
testapp
testboost
testcid
testisdn
testpri
testr2
testtones

!/msvc/testanalog/
!/msvc/testisdn/
