*~
*.o
*.so
*.lo
*.a
*.la
.libs
.deps
.\#*
\#*
.version
AUTHORS
COPYING
ChangeLog
Makefile
Makefile.in
NEWS
README
aclocal.m4
autom4te.cache
build/Makefile
build/Makefile.in
build/config/compile
build/config/config.guess
build/config/depcomp
build/config/install-sh
build/config/ltmain.sh
build/config/missing
build/freeswitch.pc
build/getlib.sh
build/getsounds.sh
build/modmake.rules
config.cache
config.log
config.status
configure
configure.lineno
freeswitch
fs_cli
fs_ivrd
libtool
modules.conf
quiet_libtool
scripts/fsxs
scripts/gentls_cert
a.out.dSYM
