*~
*.o
*.so
*.lo
*.a
*.la
*.loT
.libs
.deps
.\#*
\#*
/Debug/
/Release/
/All/
/bin/
*.user
*.suo
*.ncb
*.pdb
*.map
*.lib
*.obj
*.idb
*.res
*.exp
*.exe
*.manifest
*.dep
*.dll
/BuildLog.htm
/Path
/w32/Library/lastversion
/w32/Library/tmpVersion.Bat
!/w32/Console/FreeSwitchConsole.vcproj.user
!/w32/Setup/inno_setup/vcredist_x64.exe
!/w32/Setup/inno_setup/vcredist_x86.exe
/.version
/AUTHORS
/COPYING
/ChangeLog
/Makefile
/Makefile.in
/NEWS
/README
aclocal.m4
autom4te.cache
/build/Makefile
/build/Makefile.in
/build/config/compile
/build/config/config.guess
/build/config/depcomp
/build/config/install-sh
/build/config/ltmain.sh
/build/config/missing
/build/freeswitch.pc
/build/getlib.sh
/build/getsounds.sh
/build/modmake.rules
config.cache
config.log
config.status
/configure
configure.lineno
/freeswitch
/fs_cli
/fs_ivrd
/libtool
/modules.conf
/quiet_libtool
/scripts/fsxs
/scripts/gentls_cert
/a.out.dSYM
/freeswitch-sounds-*
src/mod/applications/mod_easyroute/Makefile
src/mod/applications/mod_lcr/Makefile
src/mod/applications/mod_nibblebill/Makefile
src/mod/applications/mod_rss/Makefile
src/mod/applications/mod_snipe_hunt/Makefile
src/mod/codecs/mod_dahdi_codec/Makefile
src/mod/dialplans/mod_dialplan_directory/Makefile
src/mod/formats/mod_shell_stream/Makefile
src/mod/say/mod_say_de/Makefile
src/mod/say/mod_say_es/Makefile
src/mod/say/mod_say_fr/Makefile
src/mod/say/mod_say_it/Makefile
src/mod/say/mod_say_nl/Makefile
src/mod/say/mod_say_th/Makefile
src/mod/say/mod_say_zh/Makefile
libs/curl/lib/ca-bundle.h
