[01;44;33m
.===============================================================.
|       _                                                       |
|   ___| |_   _  ___  ___ ___  _ __         ___ ___  _ __ ___   |
|  / __| | | | |/ _ \/ __/ _ \| '_ \       / __/ _ \| '_ ` _ \  |
| | (__| | |_| |  __/ (_| (_) | | | |  _  | (_| (_) | | | | | | |
|  \___|_|\__,_|\___|\___\___/|_| |_| (_)  \___\___/|_| |_| |_| |
|                                                               |
.===============================================================.
[0m
