*.o
*.lo
*.so
*.a
*.orig
*.rej
*.log
*.la

.deps
.libs

stamp-h1
samples*
Makefile
Makefile.in
config.log
config.sub
config.guess
config.status
configure
libtool
aclocal.m4
autom4te.cache
depcomp
install-sh
compile
missing
ltmain.sh
doxygen
m4/libtool.m4
m4/ltsugar.m4
m4/ltoptions.m4
m4/ltversion.m4
m4/lt~obsolete.m4
