<div class="centered-block-frame" id="browser_upgrade">
  <div class="col-md-6 centered-block">
    <div class="card">
      <div class="card-body text-center">
        <h2>Sorry, your browser is not supported.</h2>
        <h3>Use one of the following supported browsers.</h3>
        <ul class="browsers-supported">
          <li>
            <a href="https://www.google.com/chrome" target="_blank">
              <img src="images/browser-logos/chrome_128x128.png" title="Chrome" alt="chrome" />
            </a>
          </li>
          <li>
            <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">
              <img src="images/browser-logos/firefox_128x128.png" title="Firefox" alt="firefox" />
            </a>
          </li>
          <li>
            <a href="http://www.opera.com/" target="_blank">
              <img src="images/browser-logos/opera_128x128.png" title="Opera" alt="opera" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
