<div class="modal-header">
  <h3 class="modal-title">{{ 'TITLE_CONTRIBUTORS' | translate}}</h3>
</div>
<div class="modal-body">
  <ul class="contributors">
    <li ng-repeat="contributor in contributors">
      <div class="contributor-avatar">
        <img gravatar-src="contributor.email" gravatar-size="75"/>
      </div>
    
      <div class="contributor-info">
        <h3>{{ contributor.name }}</h3>
        <h5>{{ contributor.email }}</h5>
      </div>

      <div class="clearfix"></div>
    </li>
  </ul>

</div>
<div class="modal-footer">
</div>

