/Makefile
/Makefile.in
/applications/mod_blacklist/Makefile
/applications/mod_commands/Makefile
/applications/mod_conference/Makefile
/applications/mod_db/Makefile
/applications/mod_dptools/Makefile
/applications/mod_enum/mod_enum.log
/applications/mod_expr/Makefile
/applications/mod_expr/Makefile.in
/applications/mod_expr/mod_expr.log
/applications/mod_fax/Makefile
/applications/mod_fax/Makefile.in
/applications/mod_fax/mod_fax.log
/applications/mod_fifo/Makefile
/applications/mod_fsv/Makefile
/applications/mod_httapi/Makefile
/applications/mod_limit/Makefile
/applications/mod_random/Makefile
/applications/mod_sms/Makefile
/applications/mod_spandsp/Makefile
/applications/mod_spandsp/Makefile.in
/applications/mod_spandsp/mod_spandsp.log
/applications/mod_stress/Makefile
/applications/mod_stress/Makefile.in
/applications/mod_stress/mod_stress.log
/applications/mod_translate/Makefile
/applications/mod_valet_parking/Makefile
/applications/mod_voicemail/Makefile
/asr_tts/mod_unimrcp/Makefile
/asr_tts/mod_unimrcp/Makefile.in
/asr_tts/mod_unimrcp/mod_unimrcp.log
/asr_tts/mod_flite/*/*/mod_flite_manifest.rc
/codecs/mod_b64/Makefile
/codecs/mod_skel_codec/Makefile
/codecs/mod_vp8/Makefile
/dialplans/mod_dialplan_asterisk/Makefile
/dialplans/mod_dialplan_xml/Makefile
/endpoints/mod_portaudio/Makefile
/endpoints/mod_portaudio/Makefile.in
/endpoints/mod_portaudio/mod_portaudio.log
/endpoints/mod_skinny/Makefile
/endpoints/mod_skinny/Makefile.in
/endpoints/mod_skinny/mod_skinny.log
/endpoints/mod_skypopen/Makefile
/endpoints/mod_skypopen/Makefile.in
/endpoints/mod_skypopen/mod_skypopen.log
/endpoints/mod_sofia/Makefile
/endpoints/mod_sofia/Makefile.in
/endpoints/mod_sofia/mod_sofia.log
/event_handlers/mod_erlang_event/Makefile
/event_handlers/mod_event_socket/Makefile
/formats/mod_native_file/Makefile
/formats/mod_portaudio_stream/Makefile
/formats/mod_portaudio_stream/Makefile.in
/formats/mod_portaudio_stream/mod_portaudio_stream.log
/formats/mod_tone_stream/Makefile
/languages/mod_java/Makefile
/languages/mod_java/classes/
/languages/mod_java/freeswitch.jar
/languages/mod_lua/Makefile
/languages/mod_lua/Makefile.in
/languages/mod_lua/mod_lua.log
/languages/mod_managed/freeswitch_wrap.cpp
/languages/mod_python/Makefile
/loggers/mod_console/Makefile
/loggers/mod_logfile/Makefile
/loggers/mod_syslog/Makefile
/say/mod_say_en/Makefile
/say/mod_say_fa/Makefile
/say/mod_say_ja/Makefile
/say/mod_say_ru/Makefile
/timers/mod_posix_timer/Makefile
/timers/mod_timerfd/Makefile
/endpoints/mod_unicall/Makefile
*/*/Makefile.in
*/*/Makefile
*/*/mod_*.log
codecs/mod_amr/Win32/
codecs/mod_g723_1/Win32/
codecs/mod_g729/Win32/
directories/mod_ldap/Win32/
languages/mod_managed/Win32/