<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="connectionString" value="DSN=easyroute;User=root;Pwd=;" />
    <add key="defaultProfile" value="sofia/default"/>
    <add key="defaultGateway" value="192.168.1.1"/>
    <!-- query can be changed, but fields must be in the same order, and the number parameter must be ? -->
    <add key="query" value="SELECT gateways.gateway_ip, gateways.group, gateways.limit, gateways.techprofile, numbers.acctcode, numbers.translated from gateways, numbers where numbers.number = ? and numbers.gateway_id = gateways.gateway_id;" />
    
    <!-- To avoid other injections, the incoming number will remove characters matching this regex. Default [^0-9#\*] allows only digits, # and *. Use (?!.) to disable. -->
    <add key="numberRegexFilter" value="[^0-9#\*]" />
  </appSettings>
</configuration>