<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="connectionString" value="DSN=easyroute;User=root;Pwd=;" />
    <add key="defaultProfile" value="sofia/default"/>
    <add key="defaultGateway" value="192.168.1.1"/>
    <!-- query can be changed, but fields must be in the same order, and the number parameter must be %number% -->
    <add key="query" value="SELECT gateways.gateway_ip, gateways.group, gateways.limit, gateways.techprofile, numbers.acctcode, numbers.translated from gateways, numbers where numbers.number = %number% and numbers.gateway_id = gateways.gateway_id;" />
    
    <!-- MySQL and other DBs improperly consider \ to be an escape character. easyroute will remove all backslashes from queries to be safe. 
         if you can handle backlashes properly, set keepBackslashes to true. -->
    <!-- <add key="keepBackslashes" value="false" -->
    
    <!-- To avoid other injections, the incoming number will remove characters matching this regex. Default [^0-9#\*] allows only digits, # and *.-->
    <add key="numberRegexFilter" value="[^0-9#\*]" />
  </appSettings>
</configuration>