<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="connectionString" value="DSN=easyroute;User=root;Password=;" />
    <add key="defaultProfile" value="sofia/default"/>
    <add key="defaultGateway" value="192.168.1.1"/>
    <!-- customQuery can be defined. Fields must be in the same order, and the number parameter must be %number% -->
    <!-- <add key="customQuery" value="SELECT gateways.gateway_ip, gateways.group, gateways.limit, gateways.techprofile, numbers.acctcode, numbers.translated from gateways, numbers where numbers.number = %number% and numbers.gateway_id = gateways.gateway_id;" /> -->
  </appSettings>
</configuration>