<?xml version="1.0"?>
<config version="1.0" serial="3315" timestamp="1303209780.1">
  <Lib>
    <Account>
      <IdleTimeForAway>300</IdleTimeForAway>
      <IdleTimeForNA>1800</IdleTimeForNA>
      <Migration>63</Migration>
    </Account>
    <Call>
      <DPC>41010300676D6172757A7A3400</DPC>
      <FirstSkypeoutTime>1268962216</FirstSkypeoutTime>
    </Call>
    <CentralStorage>
      <LastBackoff>0</LastBackoff>
      <LastFailure>0</LastFailure>
      <LastSync>1303202372</LastSync>
      <NeedSync>0</NeedSync>
      <SyncSet>
        <p>
          <email>35716ecf:2</email>
          <profile>98e6c103:0</profile>
        </p>
        <u>&#10;        </u>
      </SyncSet>
    </CentralStorage>
    <Chat>
      <ActivityTS>1</ActivityTS>
      <DialogPartner>3</DialogPartner>
      <HistoryDays>65535</HistoryDays>
      <MigrationDone>1266110339</MigrationDone>
    </Chat>
    <Contacts>
      <Migration>1</Migration>
    </Contacts>
    <Message>
      <DisableHistory>1</DisableHistory>
    </Message>
    <Notification>
      <LastID>1000000166</LastID>
      <LastPoll>1303166852</LastPoll>
      <LastSearch>1303209779</LastSearch>
    </Notification>
    <PM>
      <pslut>1267114269</pslut>
    </PM>
    <ProfilePopulated>2</ProfilePopulated>
    <PropsManager>
      <PermaProps>4109008620EBA4DDDB0400FA0100009E2001009420FB09008520B1A58BDD04008120CCD9E6E3040093209B0A00F501820200F801A3B608</PermaProps>
    </PropsManager>
    <StatsSender>
      <CollectorLastSent>1267114267</CollectorLastSent>
      <CollectorSeq>11</CollectorSeq>
      <Saved>4263C0064DD5ACF9A03594DAB928D2B81510</Saved>
    </StatsSender>
    <Video>
      <AdvertPolicy>noone</AdvertPolicy>
      <Disable>1</Disable>
      <RecvPolicy>noone</RecvPolicy>
    </Video>
    <table_insert_history>
      <_59908281a5de1c9c602d40fe1f815199a1601558ebea75accdfae8b723bb342e>1303296179 23160:21600:1303209779 9589:7200:1303209779 8707:21600:1303209779</_59908281a5de1c9c602d40fe1f815199a1601558ebea75accdfae8b723bb342e>
    </table_insert_history>
  </Lib>
  <UI>
    <API>
      <Authorizations>skypopen</Authorizations>
      <BlockedPrograms></BlockedPrograms>
    </API>
    <AutoUpdate>0</AutoUpdate>
    <CaptureDevice>2</CaptureDevice>
    <RingDevice>2</RingDevice>
    <SoundDevice>2</SoundDevice>
  </UI>
</config>
