# gitignore
/.stamp-bootstrap
/control
/control-modules.*
/files
/modules.conf
/modules_.conf
/freeswitch-all.*
/freeswitch-autotools.install
/freeswitch-mod-*.install
/freeswitch-conf-*.install
/freeswitch-init.provided_by
/freeswitch-lang-*.install
/freeswitch-music-*.install
/freeswitch-sounds-*.install
/*.lintian-overrides
/*.log
/*.substvars
/*.debhelper
/tmp
/freeswitch/
/freeswitch-conf*/
/freeswitch-dbg/
/freeswitch-dev/
/freeswitch-doc/
/freeswitch-init*/
/freeswitch-meta*/
/freeswitch-mod-*/
/freeswitch-music*/
/freeswitch-sounds*/
/freeswitch-systemd/
/freeswitch-sysvinit/
/libfreeswitch*/
