/usr/lib/freeswitch/mod/mod_spidermonkey_core_db.so
/usr/lib/freeswitch/mod/mod_spidermonkey_curl.so
/usr/lib/freeswitch/mod/mod_spidermonkey_odbc.so
/usr/lib/freeswitch/mod/mod_spidermonkey_socket.so
/usr/lib/freeswitch/mod/mod_spidermonkey_teletone.so
