Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
.deps
Doxyfile
ltmain.sh
libtool
*.a
*.la
*.lo
*.o
*.pc
.libs
Doxyfile.rfc
Doxyfile.version
sofia-footer.html
libsofia-sip-ua/http/http_parser_table.c
libsofia-sip-ua/features/sofia-sip/sofia_features.h
libsofia-sip-ua/http/http_tag.c
libsofia-sip-ua/http/http_tag_ref.c
libsofia-sip-ua/http/sofia-sip/http_protos.h
libsofia-sip-ua/http/sofia-sip/http_tag.h
libsofia-sip-ua/iptsec/auth_tag_ref.c
libsofia-sip-ua/msg/msg_mime_table.c
libsofia-sip-ua/msg/sofia-sip/msg_mime_protos.h
libsofia-sip-ua/msg/sofia-sip/msg_protos.h
libsofia-sip-ua/msg/test_protos.h
libsofia-sip-ua/msg/test_table.c
libsofia-sip-ua/nea/nea_tag_ref.c
libsofia-sip-ua/nta/nta_tag_ref.c
libsofia-sip-ua/nth/nth_tag_ref.c
libsofia-sip-ua/nua/nua_tag_ref.c
libsofia-sip-ua/sdp/sdp_tag_ref.c
libsofia-sip-ua/sip/sip_parser_table.c
libsofia-sip-ua/sip/sip_tag.c
libsofia-sip-ua/sip/sip_tag_ref.c
libsofia-sip-ua/sip/sofia-sip/sip_extra.h
libsofia-sip-ua/sip/sofia-sip/sip_hclasses.h
libsofia-sip-ua/sip/sofia-sip/sip_protos.h
libsofia-sip-ua/sip/sofia-sip/sip_tag.h
libsofia-sip-ua/soa/soa_tag_ref.c
libsofia-sip-ua/stun/stun_tag_ref.c
libsofia-sip-ua/su/addrinfo
libsofia-sip-ua/su/localinfo
libsofia-sip-ua/su/sofia-sip/stamp-h2
libsofia-sip-ua/su/sofia-sip/su_configure.h
libsofia-sip-ua/su/su_tag_ref.c
libsofia-sip-ua/tport/tport_tag_ref.c
libsofia-sip-ua/url/url_tag_ref.c
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
packages/sofia-sip-1.12.12.spec
stamp-h1
test-driver
utils/sip-date
utils/sip-dig
utils/sip-options
