# -*- mode:conf -*-
/.cproject
/.project
/.stamp-doc
/Makefile
/Makefile.in
/_configs.sed
/aclocal.m4
/autom4te.cache/*
/build/
/config.*
/config/*
/configure
/doc/Doxyfile
/doc/out
/include/zrtp_config_unix.h
!/build/Makefile.am
!/build/test/Makefile.am
