aclocal.m4
BuildLog*.htm
config.guess
config.h.in
config.log
config.nice
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing

ptlib
opal

*_manifest.rc
*.pc

*/.dirstamp
*/*/.dirstamp
*/*/*/.dirstamp
*/*/*/*/.dirstamp

/*.tar.*

/*/*.dSYM/

/apr/apr-1-config
/apr/apr.exp
/apr/build/apr_rules.mk
/apr/build/libtool.m4
/apr/build/pkg/pkginfo
/apr/exports.c
/apr/export_vars.c
/apr/include/apr.h
/apr/include/arch/unix/apr_private.h
/apr/include/arch/unix/apr_private.h.in
/apr/.make.dirs
/apr/Makefile
/apr/test/internal/Makefile
/apr/test/Makefile
/apr-util/aprutil.exp
/apr-util/apu-1-config
/apr-util/build/apr_common.m4
/apr-util/build/find_apr.m4
/apr-util/build/get-version.sh
/apr-util/build/install.sh
/apr-util/build/pkg/pkginfo
/apr-util/build/rules.mk
/apr-util/exports.c
/apr-util/export_vars.c
/apr-util/export_vars.sh
/apr-util/include/apr_ldap.h
/apr-util/include/apu_config.h
/apr-util/include/apu.h
/apr-util/include/apu_select_dbm.h
/apr-util/include/apu_want.h
/apr-util/include/private/apu_config.h
/apr-util/include/private/apu_config.h.in
/apr-util/include/private/apu_select_dbm.h
/apr-util/.make.dirs
/apr-util/Makefile
/apr-util/test/Makefile
/apr-util/xml/expat/config.h
/apr-util/xml/expat/lib/config.h
/apr-util/xml/expat/lib/expat.h
/apr-util/xml/expat/lib/Makefile
/apr-util/xml/expat/Makefile
/broadvoice/config-h.in
/broadvoice/doc/Makefile
/broadvoice/doc/Makefile.in
/broadvoice/Makefile
/broadvoice/Makefile.in
/broadvoice/src/broadvoice.h
/broadvoice/src/config.h
/broadvoice/src/Makefile
/broadvoice/src/Makefile.in
/broadvoice/src/stamp-h1
/broadvoice/tests/regression_tests.sh
/celt-*/
/Communicator_semi_40.cd_semi_6000/
/esl/Debug/
/esl/Release/
/flite-*/
/freeradius-client-*/
/freetdm/build/compile
/freetdm/COPYING
/freetdm/INSTALL
/freetdm/Makefile.in
/freetdm/msvc/Debug/
/freetdm/msvc/Release/
/iksemel/build/compile
/iksemel/doc/Makefile
/iksemel/doc/Makefile.in
/iksemel/include/config.h
/iksemel/include/Makefile
/iksemel/include/Makefile.in
/iksemel/include/stamp-h1
/iksemel/Makefile
/iksemel/Makefile.in
/iksemel/src/Makefile
/iksemel/src/Makefile.in
/iksemel/test/Makefile
/iksemel/test/Makefile.in
/iksemel/test/tst-dom
/iksemel/test/tst-filter
/iksemel/test/tst-iks
/iksemel/test/tst-ikstack
/iksemel/test/tst-jid
/iksemel/test/tst-md5
/iksemel/test/tst-sax
/iksemel/test/tst-sha
/iksemel/tools/ikslint
/iksemel/tools/iksperf
/iksemel/tools/iksroster
/iksemel/tools/Makefile
/iksemel/tools/Makefile.in
/ilbc/config-h.in
/ilbc/doc/Makefile
/ilbc/doc/Makefile.in
/ilbc/localtests/Makefile
/ilbc/localtests/Makefile.in
/ilbc/Makefile
/ilbc/Makefile.in
/ilbc/src/config.h
/ilbc/src/ilbc.h
/ilbc/src/Makefile
/ilbc/src/Makefile.in
/ilbc/src/stamp-h1
/ilbc/tests/Makefile
/ilbc/tests/Makefile.in
/include/
/js/config.h
/js/js
/js/js-config.sh
/js/jscpucfg
/js/Makefile
/js/nsprpub/config/autoconf.mk
/js/nsprpub/config/Makefile
/js/nsprpub/config/nfspwd
/js/nsprpub/config/now
/js/nsprpub/config/nsinstall
/js/nsprpub/config/nspr-config
/js/nsprpub/config/nsprincl.mk
/js/nsprpub/config/nsprincl.sh
/js/nsprpub/dist/
/js/nsprpub/lib/ds/libplds4.dylib
/js/nsprpub/lib/ds/libplds4.so.1
/js/nsprpub/lib/ds/Makefile
/js/nsprpub/lib/ds/_pl_bld.h
/js/nsprpub/lib/libc/include/Makefile
/js/nsprpub/lib/libc/Makefile
/js/nsprpub/lib/libc/src/libplc4.dylib
/js/nsprpub/lib/libc/src/libplc4.so.1
/js/nsprpub/lib/libc/src/Makefile
/js/nsprpub/lib/libc/src/_pl_bld.h
/js/nsprpub/lib/Makefile
/js/nsprpub/lib/tests/Makefile
/js/nsprpub/Makefile
/js/nsprpub/pkg/linux/Makefile
/js/nsprpub/pkg/Makefile
/js/nsprpub/pkg/solaris/Makefile
/js/nsprpub/pkg/solaris/SUNWprd/Makefile
/js/nsprpub/pkg/solaris/SUNWpr/Makefile
/js/nsprpub/pr/include/Makefile
/js/nsprpub/pr/include/md/Makefile
/js/nsprpub/pr/include/obsolete/Makefile
/js/nsprpub/pr/include/prcpucfg.h
/js/nsprpub/pr/include/private/Makefile
/js/nsprpub/pr/Makefile
/js/nsprpub/pr/src/io/Makefile
/js/nsprpub/pr/src/libnspr4.dylib
/js/nsprpub/pr/src/libnspr4.so.1
/js/nsprpub/pr/src/linking/Makefile
/js/nsprpub/pr/src/Makefile
/js/nsprpub/pr/src/malloc/Makefile
/js/nsprpub/pr/src/md/Makefile
/js/nsprpub/pr/src/md/unix/Makefile
/js/nsprpub/pr/src/memory/Makefile
/js/nsprpub/pr/src/misc/Makefile
/js/nsprpub/pr/src/_pr_bld.h
/js/nsprpub/pr/src/pthreads/Makefile
/js/nsprpub/pr/src/threads/Makefile
/js/nsprpub/pr/tests/dll/Makefile
/js/nsprpub/pr/tests/Makefile
/json-c-*/
/js/src/jsautocfg.h
/js/src/perlconnect/Makefile.PL
/lame-*/
/libcodec2/src/c2dec
/libcodec2/src/c2demo
/libcodec2/src/c2enc
/libcodec2/src/c2sim
/libcodec2/src/codebook.c
/libcodec2/src/codebookd.c
/libcodec2/src/codebookdt.c
/libcodec2/src/codebookge.c
/libcodec2/src/codebookjnd.c
/libcodec2/src/codebookjvm.c
/libcodec2/src/codebookvqanssi.c
/libcodec2/src/fdmdv_demod
/libcodec2/src/fdmdv_get_test_bits
/libcodec2/src/fdmdv_interleave
/libcodec2/src/fdmdv_mod
/libcodec2/src/fdmdv_put_test_bits
/libcodec2/src/generate_codebook
/libcodec2/src/genlspdtcb
/libcodec2/unittest/create_interleaver
/libcodec2/unittest/de
/libcodec2/unittest/extract
/libcodec2/unittest/genampdata
/libcodec2/unittest/genlsp
/libcodec2/unittest/genphdata
/libcodec2/unittest/genres
/libcodec2/unittest/lspsync
/libcodec2/unittest/polar2rect
/libcodec2/unittest/pre
/libcodec2/unittest/scalarlsptest
/libcodec2/unittest/t48_8
/libcodec2/unittest/tcodec2
/libcodec2/unittest/tfdmdv
/libcodec2/unittest/tfifo
/libcodec2/unittest/tinterp
/libcodec2/unittest/tlspsens
/libcodec2/unittest/tnlp
/libcodec2/unittest/tprede
/libcodec2/unittest/tquant
/libcodec2/unittest/vq_train_jvm
/libcodec2/unittest/vqtrain
/libcodec2/unittest/vqtrainjnd
/libcodec2/unittest/vqtrainph
/libcodec2/unittest/vqtrainsp
/libdingaling/build/compile
/libdingaling/Makefile
/libdingaling/Makefile.in
/libdingaling/src/config.h
/libdingaling/src/stamp-h1
/libg722_1/config-h.in
/libg722_1/doc/Makefile
/libg722_1/doc/Makefile.in
/libg722_1/g722_1.spec
/libg722_1/Makefile
/libg722_1/Makefile.in
/libg722_1/src/config.h
/libg722_1/src/dct4.h
/libg722_1/src/g722_1.h
/libg722_1/src/make_dct4_tables
/libg722_1/src/Makefile
/libg722_1/src/Makefile.in
/libg722_1/src/make_tables
/libg722_1/src/stamp-h1
/libg722_1/test-data/itu/Makefile
/libg722_1/test-data/itu/Makefile.in
/libg722_1/test-data/local/Makefile
/libg722_1/test-data/local/Makefile.in
/libg722_1/test-data/Makefile
/libg722_1/test-data/Makefile.in
/libg722_1/tests/Makefile
/libg722_1/tests/Makefile.in
/libg722_1/tests/regression_tests.sh
/libg723_1/
/libg729/
/libmemcached-*/
/libogg-*/
/libshout-*/
/libsndfile/Cfg/compile
/libsndfile/doc/Makefile
/libsndfile/doc/Makefile.in
/libsndfile/examples/Makefile
/libsndfile/examples/Makefile.in
/libsndfile/libsndfile.spec
/libsndfile/M4/libtool.m4
/libsndfile/M4/lt~obsolete.m4
/libsndfile/M4/ltoptions.m4
/libsndfile/M4/ltsugar.m4
/libsndfile/M4/ltversion.m4
/libsndfile/M4/Makefile
/libsndfile/M4/Makefile.in
/libsndfile/Makefile
/libsndfile/Makefile.in
/libsndfile/man/Makefile
/libsndfile/man/Makefile.in
/libsndfile/Octave/Makefile
/libsndfile/Octave/Makefile.in
/libsndfile/programs/Makefile
/libsndfile/programs/Makefile.in
/libsndfile/regtest/Makefile
/libsndfile/regtest/Makefile.in
/libsndfile/src/config.h
/libsndfile/src/G72x/g72x_test
/libsndfile/src/G72x/Makefile
/libsndfile/src/G72x/Makefile.in
/libsndfile/src/GSM610/Makefile
/libsndfile/src/GSM610/Makefile.in
/libsndfile/src/Makefile
/libsndfile/src/Makefile.in
/libsndfile/src/sndfile.h
/libsndfile/src/stamp-h1
/libsndfile/src/test_main
/libsndfile/tests/Makefile
/libsndfile/tests/Makefile.in
/libsndfile/tests/test_wrapper.sh
/libsndfile/Win32/Makefile
/libsndfile/Win32/Makefile.in
/libwebsockets/Makefile
/libwebsockets/Makefile.in
/libwebsockets/config.h
/libwebsockets/lib/Makefile
/libwebsockets/lib/Makefile.in
/libwebsockets/m4/libtool.m4
/libwebsockets/m4/ltoptions.m4
/libwebsockets/m4/ltsugar.m4
/libwebsockets/m4/ltversion.m4
/libwebsockets/m4/lt~obsolete.m4
/libwebsockets/stamp-h1
/libwebsockets/compile
/libwebsockets/test-server/Makefile
/libwebsockets/test-server/Makefile.in
/libwebsockets/test-server/libwebsockets-test-client
/libwebsockets/test-server/libwebsockets-test-fraggle
/libwebsockets/test-server/libwebsockets-test-ping
/libwebsockets/test-server/libwebsockets-test-server
/libwebsockets/test-server/libwebsockets-test-server-extpoll
/mongo-cxx-driver-v*/
/mpg123/
/libmpg123/
/openldap-*/
/openssl-*/
/opus-*/
/pocketsphinx-*/
/pthreads-w32-2-7-0-release/
/pthreads-w32-2-9-1/
/silk/compile
/silk/Decoder
/silk/Encoder
/silk/Makefile
/silk/Makefile.in
/silk/signalCompare
/sofia-sip/compile
/sofia-sip/config.h
/sofia-sip/libsofia-sip-ua/bnf/Doxyfile
/sofia-sip/libsofia-sip-ua/bnf/Makefile
/sofia-sip/libsofia-sip-ua/bnf/Makefile.in
/sofia-sip/libsofia-sip-ua/docs/Doxyfile
/sofia-sip/libsofia-sip-ua/docs/Doxyfile.rfc
/sofia-sip/libsofia-sip-ua/docs/Doxyfile.version
/sofia-sip/libsofia-sip-ua/docs/Makefile
/sofia-sip/libsofia-sip-ua/docs/Makefile.in
/sofia-sip/libsofia-sip-ua/docs/sofia-footer.html
/sofia-sip/libsofia-sip-ua/features/Doxyfile
/sofia-sip/libsofia-sip-ua/features/Makefile
/sofia-sip/libsofia-sip-ua/features/Makefile.in
/sofia-sip/libsofia-sip-ua/features/sofia-sip/sofia_features.h
/sofia-sip/libsofia-sip-ua-glib/Makefile
/sofia-sip/libsofia-sip-ua-glib/Makefile.in
/sofia-sip/libsofia-sip-ua-glib/su-glib/Doxyfile
/sofia-sip/libsofia-sip-ua-glib/su-glib/Makefile
/sofia-sip/libsofia-sip-ua-glib/su-glib/Makefile.in
/sofia-sip/libsofia-sip-ua/http/Doxyfile
/sofia-sip/libsofia-sip-ua/http/http_parser_table.c
/sofia-sip/libsofia-sip-ua/http/http_tag.c
/sofia-sip/libsofia-sip-ua/http/http_tag_dll.c
/sofia-sip/libsofia-sip-ua/http/http_tag_ref.c
/sofia-sip/libsofia-sip-ua/http/Makefile
/sofia-sip/libsofia-sip-ua/http/Makefile.in
/sofia-sip/libsofia-sip-ua/http/sofia-sip/http_protos.h
/sofia-sip/libsofia-sip-ua/http/sofia-sip/http_tag.h
/sofia-sip/libsofia-sip-ua/ipt/Doxyfile
/sofia-sip/libsofia-sip-ua/ipt/Makefile
/sofia-sip/libsofia-sip-ua/ipt/Makefile.in
/sofia-sip/libsofia-sip-ua/iptsec/auth_tag_dll.c
/sofia-sip/libsofia-sip-ua/iptsec/auth_tag_ref.c
/sofia-sip/libsofia-sip-ua/iptsec/Doxyfile
/sofia-sip/libsofia-sip-ua/iptsec/Makefile
/sofia-sip/libsofia-sip-ua/iptsec/Makefile.in
/sofia-sip/libsofia-sip-ua/Makefile
/sofia-sip/libsofia-sip-ua/Makefile.in
/sofia-sip/libsofia-sip-ua/msg/Doxyfile
/sofia-sip/libsofia-sip-ua/msg/Makefile
/sofia-sip/libsofia-sip-ua/msg/Makefile.in
/sofia-sip/libsofia-sip-ua/msg/msg_mime_table.c
/sofia-sip/libsofia-sip-ua/msg/msg_tag_dll.c
/sofia-sip/libsofia-sip-ua/msg/msg_tag_ref.c
/sofia-sip/libsofia-sip-ua/msg/sofia-sip/msg_mime_protos.h
/sofia-sip/libsofia-sip-ua/msg/sofia-sip/msg_protos.h
/sofia-sip/libsofia-sip-ua/msg/test_protos.h
/sofia-sip/libsofia-sip-ua/msg/test_table.c
/sofia-sip/libsofia-sip-ua/nea/Doxyfile
/sofia-sip/libsofia-sip-ua/nea/Makefile
/sofia-sip/libsofia-sip-ua/nea/Makefile.in
/sofia-sip/libsofia-sip-ua/nea/nea_tag_dll.c
/sofia-sip/libsofia-sip-ua/nea/nea_tag_ref.c
/sofia-sip/libsofia-sip-ua/nta/Doxyfile
/sofia-sip/libsofia-sip-ua/nta/Makefile
/sofia-sip/libsofia-sip-ua/nta/Makefile.in
/sofia-sip/libsofia-sip-ua/nta/nta_tag_dll.c
/sofia-sip/libsofia-sip-ua/nta/nta_tag_ref.c
/sofia-sip/libsofia-sip-ua/nth/Doxyfile
/sofia-sip/libsofia-sip-ua/nth/Makefile
/sofia-sip/libsofia-sip-ua/nth/Makefile.in
/sofia-sip/libsofia-sip-ua/nth/nth_tag_dll.c
/sofia-sip/libsofia-sip-ua/nth/nth_tag_ref.c
/sofia-sip/libsofia-sip-ua/nua/Doxyfile
/sofia-sip/libsofia-sip-ua/nua/Makefile
/sofia-sip/libsofia-sip-ua/nua/Makefile.in
/sofia-sip/libsofia-sip-ua/nua/nua_tag_dll.c
/sofia-sip/libsofia-sip-ua/nua/nua_tag_ref.c
/sofia-sip/libsofia-sip-ua/sdp/Doxyfile
/sofia-sip/libsofia-sip-ua/sdp/Makefile
/sofia-sip/libsofia-sip-ua/sdp/Makefile.in
/sofia-sip/libsofia-sip-ua/sdp/sdp_tag_dll.c
/sofia-sip/libsofia-sip-ua/sdp/sdp_tag_ref.c
/sofia-sip/libsofia-sip-ua/sip/Doxyfile
/sofia-sip/libsofia-sip-ua/sip/Makefile
/sofia-sip/libsofia-sip-ua/sip/Makefile.in
/sofia-sip/libsofia-sip-ua/sip/sip_parser_table.c
/sofia-sip/libsofia-sip-ua/sip/sip_tag.c
/sofia-sip/libsofia-sip-ua/sip/sip_tag_dll.c
/sofia-sip/libsofia-sip-ua/sip/sip_tag_ref.c
/sofia-sip/libsofia-sip-ua/sip/sofia-sip/sip_extra.h
/sofia-sip/libsofia-sip-ua/sip/sofia-sip/sip_hclasses.h
/sofia-sip/libsofia-sip-ua/sip/sofia-sip/sip_protos.h
/sofia-sip/libsofia-sip-ua/sip/sofia-sip/sip_tag.h
/sofia-sip/libsofia-sip-ua/soa/Doxyfile
/sofia-sip/libsofia-sip-ua/soa/Makefile
/sofia-sip/libsofia-sip-ua/soa/Makefile.in
/sofia-sip/libsofia-sip-ua/soa/soa_tag_dll.c
/sofia-sip/libsofia-sip-ua/soa/soa_tag_ref.c
/sofia-sip/libsofia-sip-ua/sresolv/Doxyfile
/sofia-sip/libsofia-sip-ua/sresolv/Makefile
/sofia-sip/libsofia-sip-ua/sresolv/Makefile.in
/sofia-sip/libsofia-sip-ua/stun/Doxyfile
/sofia-sip/libsofia-sip-ua/stun/Makefile
/sofia-sip/libsofia-sip-ua/stun/Makefile.in
/sofia-sip/libsofia-sip-ua/stun/stunc
/sofia-sip/libsofia-sip-ua/stun/stun_tag_dll.c
/sofia-sip/libsofia-sip-ua/stun/stun_tag_ref.c
/sofia-sip/libsofia-sip-ua/su/addrinfo
/sofia-sip/libsofia-sip-ua/su/Doxyfile
/sofia-sip/libsofia-sip-ua/su/localinfo
/sofia-sip/libsofia-sip-ua/su/Makefile
/sofia-sip/libsofia-sip-ua/su/Makefile.in
/sofia-sip/libsofia-sip-ua/su/sofia-sip/stamp-h2
/sofia-sip/libsofia-sip-ua/su/sofia-sip/su_configure.h
/sofia-sip/libsofia-sip-ua/su/su_tag_dll.c
/sofia-sip/libsofia-sip-ua/su/su_tag_ref.c
/sofia-sip/libsofia-sip-ua/tport/Doxyfile
/sofia-sip/libsofia-sip-ua/tport/Makefile
/sofia-sip/libsofia-sip-ua/tport/Makefile.in
/sofia-sip/libsofia-sip-ua/tport/tport_tag_dll.c
/sofia-sip/libsofia-sip-ua/tport/tport_tag_ref.c
/sofia-sip/libsofia-sip-ua/url/Doxyfile
/sofia-sip/libsofia-sip-ua/url/Makefile
/sofia-sip/libsofia-sip-ua/url/Makefile.in
/sofia-sip/libsofia-sip-ua/url/url_tag_dll.c
/sofia-sip/libsofia-sip-ua/url/url_tag_ref.c
/sofia-sip/m4/libtool.m4
/sofia-sip/m4/lt~obsolete.m4
/sofia-sip/m4/ltoptions.m4
/sofia-sip/m4/ltsugar.m4
/sofia-sip/m4/ltversion.m4
/sofia-sip/Makefile
/sofia-sip/Makefile.in
/sofia-sip/open_c/config.h
!/sofia-sip/open_c/config.h.in
/sofia-sip/open_c/Makefile
/sofia-sip/open_c/Makefile.in
/sofia-sip/packages/Makefile
/sofia-sip/packages/Makefile.in
/sofia-sip/packages/sofia-sip-*devel.spec
/sofia-sip/s2check/Makefile
/sofia-sip/s2check/Makefile.in
/sofia-sip/stamp-h1
/sofia-sip/tests/Makefile
/sofia-sip/tests/Makefile.in
/sofia-sip/utils/Doxyfile
/sofia-sip/utils/Makefile
/sofia-sip/utils/Makefile.in
/sofia-sip/win32/config.h
!/sofia-sip/win32/config.h.in
/sofia-sip/win32/Makefile
/sofia-sip/win32/Makefile.in
/sounds/
/soundtouch/
/soundtouch-*/
/spandsp/config-h.in
/spandsp/doc/doxygen
/spandsp/doc/Makefile
/spandsp/doc/Makefile.in
/spandsp/Makefile
/spandsp/Makefile.in
/spandsp/m4/libtool.m4
/spandsp/m4/ltoptions.m4
/spandsp/m4/ltsugar.m4
/spandsp/m4/ltversion.m4
/spandsp/m4/lt~obsolete.m4
/spandsp/spandsp-sim/Makefile
/spandsp/spandsp-sim/Makefile.in
/spandsp/src/at_interpreter_dictionary.h
/spandsp/src/config.h
/spandsp/src/make_at_dictionary
/spandsp/src/Makefile
/spandsp/src/Makefile.in
/spandsp/src/make_math_fixed_tables
/spandsp/src/make_modem_filter
/spandsp/src/make_t43_gray_code_tables
/spandsp/src/math_fixed_tables.h
/spandsp/src/msvc/All/BuildLog make_at_dictionary.htm
/spandsp/src/msvc/All/BuildLog make_modem_filter.htm
/spandsp/src/spandsp.h
/spandsp/src/stamp-h1
/spandsp/src/t43_gray_code_tables.h
/spandsp/src/v17_v32bis_rx_fixed_rrc.h
/spandsp/src/v17_v32bis_rx_floating_rrc.h
/spandsp/src/v17_v32bis_tx_fixed_rrc.h
/spandsp/src/v17_v32bis_tx_floating_rrc.h
/spandsp/src/v22bis_rx_1200_fixed_rrc.h
/spandsp/src/v22bis_rx_1200_floating_rrc.h
/spandsp/src/v22bis_rx_2400_fixed_rrc.h
/spandsp/src/v22bis_rx_2400_floating_rrc.h
/spandsp/src/v22bis_tx_fixed_rrc.h
/spandsp/src/v22bis_tx_floating_rrc.h
/spandsp/src/v27ter_rx_2400_fixed_rrc.h
/spandsp/src/v27ter_rx_2400_floating_rrc.h
/spandsp/src/v27ter_rx_4800_fixed_rrc.h
/spandsp/src/v27ter_rx_4800_floating_rrc.h
/spandsp/src/v27ter_tx_2400_fixed_rrc.h
/spandsp/src/v27ter_tx_2400_floating_rrc.h
/spandsp/src/v27ter_tx_4800_fixed_rrc.h
/spandsp/src/v27ter_tx_4800_floating_rrc.h
/spandsp/src/v29rx_fixed_rrc.h
/spandsp/src/v29rx_floating_rrc.h
/spandsp/src/v29tx_fixed_rrc.h
/spandsp/src/v29tx_floating_rrc.h
/spandsp/test-data/etsi/fax/Makefile
/spandsp/test-data/etsi/fax/Makefile.in
/spandsp/test-data/etsi/Makefile
/spandsp/test-data/etsi/Makefile.in
/spandsp/test-data/itu/fax/Makefile
/spandsp/test-data/itu/fax/Makefile.in
/spandsp/test-data/itu/Makefile
/spandsp/test-data/itu/Makefile.in
/spandsp/test-data/local/Makefile
/spandsp/test-data/local/Makefile.in
/spandsp/test-data/Makefile
/spandsp/test-data/Makefile.in
/spandsp/tests/Makefile
/spandsp/tests/Makefile.in
/spandsp/src/make_cielab_luts
/sphinxbase-*/
/srtp/aes_tables
/srtp/config_in.h
/srtp/crypto/include/config.h
/srtp/crypto/include/stamp-h1
/srtp/crypto/Makefile
/srtp/doc/Makefile
/srtp/Makefile
/srtp/Makefile.in
/srtp/test/Makefile
/srtp/test/Makefile.in
/tiff-*/build/Makefile
/tiff-*/build/Makefile.in
/tiff-*/tools/tiffcrop
/tiff-*/contrib/acorn/Makefile
/tiff-*/contrib/acorn/Makefile.in
/tiff-*/contrib/addtiffo/addtiffo
/tiff-*/contrib/addtiffo/Makefile
/tiff-*/contrib/addtiffo/Makefile.in
/tiff-*/contrib/dbs/Makefile
/tiff-*/contrib/dbs/Makefile.in
/tiff-*/contrib/dbs/tiff-bi
/tiff-*/contrib/dbs/tiff-grayscale
/tiff-*/contrib/dbs/tiff-palette
/tiff-*/contrib/dbs/tiff-rgb
/tiff-*/contrib/dbs/xtiff/Makefile
/tiff-*/contrib/dbs/xtiff/Makefile.in
/tiff-*/contrib/iptcutil/iptcutil
/tiff-*/contrib/iptcutil/Makefile
/tiff-*/contrib/iptcutil/Makefile.in
/tiff-*/contrib/mac-cw/Makefile
/tiff-*/contrib/mac-cw/Makefile.in
/tiff-*/contrib/mac-mpw/Makefile
/tiff-*/contrib/mac-mpw/Makefile.in
/tiff-*/contrib/Makefile
/tiff-*/contrib/Makefile.in
/tiff-*/contrib/mfs/Makefile
/tiff-*/contrib/mfs/Makefile.in
/tiff-*/contrib/ojpeg/Makefile
/tiff-*/contrib/ojpeg/Makefile.in
/tiff-*/contrib/pds/Makefile
/tiff-*/contrib/pds/Makefile.in
/tiff-*/contrib/ras/Makefile
/tiff-*/contrib/ras/Makefile.in
/tiff-*/contrib/stream/Makefile
/tiff-*/contrib/stream/Makefile.in
/tiff-*/contrib/tags/Makefile
/tiff-*/contrib/tags/Makefile.in
/tiff-*/contrib/win_dib/Makefile
/tiff-*/contrib/win_dib/Makefile.in
/tiff-*/html/images/Makefile
/tiff-*/html/images/Makefile.in
/tiff-*/html/Makefile
/tiff-*/html/Makefile.in
/tiff-*/html/man/Makefile
/tiff-*/html/man/Makefile.in
/tiff-*/libtiff/Makefile
/tiff-*/libtiff/Makefile.in
/tiff-*/libtiff/mkg3states
/tiff-*/libtiff/stamp-h1
/tiff-*/libtiff/stamp-h2
/tiff-*/libtiff/tif_config.h
/tiff-*/libtiff/tif_config.h.in
/tiff-*/libtiff/tiffconf.h
/tiff-*/m4/libtool.m4
/tiff-*/m4/lt~obsolete.m4
/tiff-*/m4/ltoptions.m4
/tiff-*/m4/ltsugar.m4
/tiff-*/m4/ltversion.m4
/tiff-*/Makefile
/tiff-*/Makefile.in
/tiff-*/man/Makefile
/tiff-*/man/Makefile.in
/tiff-*/port/Makefile
/tiff-*/port/Makefile.in
/tiff-*/test/Makefile
/tiff-*/test/Makefile.in
/tiff-*/tiff-Makefile.tgz
/tiff-*/tools/bmp2tiff
/tiff-*/tools/fax2ps
/tiff-*/tools/fax2tiff
/tiff-*/tools/gif2tiff
/tiff-*/tools/Makefile
/tiff-*/tools/Makefile.in
/tiff-*/tools/pal2rgb
/tiff-*/tools/ppm2tiff
/tiff-*/tools/ras2tiff
/tiff-*/tools/raw2tiff
/tiff-*/tools/rgb2ycbcr
/tiff-*/tools/thumbnail
/tiff-*/tools/tiff2bw
/tiff-*/tools/tiff2pdf
/tiff-*/tools/tiff2ps
/tiff-*/tools/tiff2rgba
/tiff-*/tools/tiffcmp
/tiff-*/tools/tiffcp
/tiff-*/tools/tiffdither
/tiff-*/tools/tiffdump
/tiff-*/tools/tiffgt
/tiff-*/tools/tiffinfo
/tiff-*/tools/tiffmedian
/tiff-*/tools/tiffset
/tiff-*/tools/tiffsplit
/unimrcp/build/acmacros/libtool.m4
/unimrcp/build/acmacros/lt~obsolete.m4
/unimrcp/build/acmacros/ltoptions.m4
/unimrcp/build/acmacros/ltsugar.m4
/unimrcp/build/acmacros/ltversion.m4
/unimrcp/build/Makefile
/unimrcp/build/Makefile.in
/unimrcp/build/pkgconfig/Makefile
/unimrcp/build/pkgconfig/Makefile.in
/unimrcp/build/svnrev/Makefile
/unimrcp/build/svnrev/Makefile.in
/unimrcp/build/svnrev/svnrev
!/unimrcp/build/tools/unimrcpservice.exe.manifest
!/unimrcp/build/uni_revision.h
!/unimrcp/configure.gnu
/unimrcp/conf/Makefile
/unimrcp/conf/Makefile.in
/unimrcp/data/Makefile
/unimrcp/data/Makefile.in
/unimrcp/docs/doxygen.conf
/unimrcp/libs/apr-toolkit/Makefile
/unimrcp/libs/apr-toolkit/Makefile.in
/unimrcp/libs/Makefile
/unimrcp/libs/Makefile.in
/unimrcp/libs/mpf/Makefile
/unimrcp/libs/mpf/Makefile.in
/unimrcp/libs/mrcp-client/Makefile
/unimrcp/libs/mrcp-client/Makefile.in
/unimrcp/libs/mrcp-engine/Makefile
/unimrcp/libs/mrcp-engine/Makefile.in
/unimrcp/libs/mrcp/Makefile
/unimrcp/libs/mrcp/Makefile.in
/unimrcp/libs/mrcp-server/Makefile
/unimrcp/libs/mrcp-server/Makefile.in
/unimrcp/libs/mrcp-signaling/Makefile
/unimrcp/libs/mrcp-signaling/Makefile.in
/unimrcp/libs/mrcpv2-transport/Makefile
/unimrcp/libs/mrcpv2-transport/Makefile.in
/unimrcp/libs/uni-rtsp/Makefile
/unimrcp/libs/uni-rtsp/Makefile.in
/unimrcp/Makefile
/unimrcp/Makefile.in
/unimrcp/modules/Makefile
/unimrcp/modules/Makefile.in
/unimrcp/modules/mrcp-sofiasip/Makefile
/unimrcp/modules/mrcp-sofiasip/Makefile.in
/unimrcp/modules/mrcp-unirtsp/Makefile
/unimrcp/modules/mrcp-unirtsp/Makefile.in
/unimrcp/platforms/asr-client/asrclient
/unimrcp/platforms/asr-client/Makefile
/unimrcp/platforms/asr-client/Makefile.in
/unimrcp/platforms/libasr-client/Makefile
/unimrcp/platforms/libasr-client/Makefile.in
/unimrcp/platforms/libunimrcp-client/Makefile
/unimrcp/platforms/libunimrcp-client/Makefile.in
/unimrcp/platforms/libunimrcp-server/Makefile
/unimrcp/platforms/libunimrcp-server/Makefile.in
/unimrcp/platforms/Makefile
/unimrcp/platforms/Makefile.in
/unimrcp/platforms/umc/Makefile
/unimrcp/platforms/umc/Makefile.in
/unimrcp/platforms/umc/umc
/unimrcp/platforms/unimrcp-client/Makefile
/unimrcp/platforms/unimrcp-client/Makefile.in
/unimrcp/platforms/unimrcp-client/unimrcpclient
/unimrcp/platforms/unimrcp-server/Makefile
/unimrcp/platforms/unimrcp-server/Makefile.in
/unimrcp/platforms/unimrcp-server/unimrcpserver
/unimrcp/plugins/demo-recog/Makefile
/unimrcp/plugins/demo-recog/Makefile.in
/unimrcp/plugins/demo-synth/Makefile
/unimrcp/plugins/demo-synth/Makefile.in
/unimrcp/plugins/demo-verifier/Makefile
/unimrcp/plugins/demo-verifier/Makefile.in
/unimrcp/plugins/Makefile
/unimrcp/plugins/Makefile.in
/unimrcp/plugins/mrcp-cepstral/Makefile
/unimrcp/plugins/mrcp-cepstral/Makefile.in
/unimrcp/plugins/mrcp-flite/Makefile
/unimrcp/plugins/mrcp-flite/Makefile.in
/unimrcp/plugins/mrcp-pocketsphinx/Makefile
/unimrcp/plugins/mrcp-pocketsphinx/Makefile.in
/unimrcp/plugins/mrcp-recorder/Makefile
/unimrcp/plugins/mrcp-recorder/Makefile.in
/unimrcp/tests/apttest/Makefile
/unimrcp/tests/apttest/Makefile.in
/unimrcp/tests/Makefile
/unimrcp/tests/Makefile.in
/unimrcp/tests/mpftest/Makefile
/unimrcp/tests/mpftest/Makefile.in
/unimrcp/tests/mrcptest/Makefile
/unimrcp/tests/mrcptest/Makefile.in
/unimrcp/tests/rtsptest/Makefile
/unimrcp/tests/rtsptest/Makefile.in
/unimrcp/tests/strtablegen/Makefile
/unimrcp/tests/strtablegen/Makefile.in
/win32/celt/*/*/libcelt.log
/win32/libg722_1/*/*/libg722_1.log
/win32/libshout/*/*/libshout.log
/win32/pcre/pcre_chartables.c
/win32/tmp*.bat
!/xmlrpc-c/include/xmlrpc-c/config.h.in
/xmlrpc-c/stamp-h2
/xmlrpc-c/stamp-h3
/xmlrpc-c/examples/config.h
/xmlrpc-c/include/xmlrpc-c/config.h
/xmlrpc-c/transport_config.h
/xmlrpc-c/xmlrpc_config.h
/xmlrpc-c/xmlrpc_amconfig.h
/xmlrpc-c/config.mk
/xmlrpc-c/lib/expat/gennmtab/depend.mk
/xmlrpc-c/lib/expat/gennmtab/gennmtab
/xmlrpc-c/lib/expat/xmlparse/depend.mk
/xmlrpc-c/lib/expat/xmlparse/srcdir
/xmlrpc-c/lib/expat/xmltok/blddir
/xmlrpc-c/lib/expat/xmltok/depend.mk
/xmlrpc-c/lib/expat/xmltok/srcdir
/xmlrpc-c/lib/libutil/blddir
/xmlrpc-c/lib/libutil/depend.mk
/xmlrpc-c/lib/libutil/srcdir
/xmlrpc-c/lib/util/blddir
/xmlrpc-c/lib/util/depend.mk
/xmlrpc-c/lib/util/srcdir
/xmlrpc-c/src/blddir
/xmlrpc-c/src/depend.mk
/xmlrpc-c/src/srcdir
/xmlrpc-c/src/test/blddir
/xmlrpc-c/src/test/depend.mk
/xmlrpc-c/src/test/srcdir
/xmlrpc-c/srcdir.mk
/xmlrpc-c/stamp-h
/xmlrpc-c/tools/lib/blddir
/xmlrpc-c/tools/lib/depend.mk
/xmlrpc-c/tools/lib/srcdir
/sipcc/Makefile
/sipcc/Makefile.in

/broadvoice/broadvoice.spec

/zeromq-*/
/jpeg-8d/
/v8-*/

# build products we should remove
!/apr-util/xml/expat/conftools/config.guess
!/apr-util/xml/expat/conftools/config.sub
!/apr-util/xml/expat/conftools/install-sh
!/apr-util/xml/expat/conftools/missing
!/iksemel/ltmain.sh
!/libdingaling/config.guess
!/libdingaling/config.sub
!/libdingaling/depcomp
!/libdingaling/install-sh
!/libdingaling/ltmain.sh
!/libdingaling/missing
!/libg722_1/config/depcomp
!/libg722_1/config/missing
!/tiff-*/config/depcomp
!/tiff-*/config/missing
!/xmlrpc-c/install-sh
!/xmlrpc-c/missing
broadvoice/config/compile
ilbc/config/compile
libg722_1/config/compile
pcre/compile
spandsp/config/compile
srtp/build/compile
unimrcp/build/compile
/pcre-*/
/speex-*/
/curl-*/
/sqlite-*.zip
/sqlite-*/
/ldns/
/portaudio/
portaudio.*.log
apr-util/configure
apr-util/xml/expat/configure
apr/configure
iksemel/configure
libdingaling/configure
libyuv/Makefile
libyuv/convert
sofia-sip/configure
spandsp/configure
srtp/configure
tiff-4.0.2/configure
unimrcp/configure
