!/**/
!/*.*
*.o
*~
\#*
*.log
*.trs
[0-9]*/**
conf_sofia/[0-9]*/**
.libs/
perf.data
perf.data.old
Makefile.in
freeswitch.xml.fsxml.tmp
switch_console
switch_core
switch_core_codec
switch_core_db
switch_core_file
switch_core_session
switch_core_video
switch_eavesdrop
switch_event
switch_hash
switch_hold
switch_ivr_async
switch_ivr_originate
switch_ivr_play_say
switch_log
switch_packetizer
switch_red
switch_rtp
switch_ulp
switch_ulp_jb
switch_ulp_recover1
switch_ulp_recover2
switch_ulp_recover3
switch_ulp_recover4
switch_utils
switch_vad
switch_vpx
switch_xml
switch_estimators
switch_jitter_buffer
test_sofia
.deps/
Makefile
conf/*/
conf_playsay/*/
conf_async/*/
x64
win32
*.vcxproj.user