!/**/
!/*.*
*.o
*~
\#*
*.log
*.trs
perf.data
perf.data.old
Makefile.in
freeswitch.xml.fsxml.tmp
test-argb.png
test-rgb.png
images/test_patched_banner_alpha.png
images/test_patched_banner_noalpha.png
images/test_patched_signalwire_alpha.png
images/test_patched_signalwire_no_alpha.png
switch_console
switch_core
switch_core_codec
switch_core_db
switch_core_file
switch_core_video
switch_event
switch_hash
switch_ivr_originate
switch_ivr_play_say
switch_packetizer
switch_red
switch_rtp
switch_ulp
switch_ulp_jb
switch_ulp_recover1
switch_ulp_recover2
switch_ulp_recover3
switch_ulp_recover4
switch_utils
switch_vad
switch_vpx
switch_xml
switch_estimators
switch_jitter_buffer
.deps/
Makefile
cluecon-argb-write.png
cluecon-argb.png
cluecon-jpg-write.jpg
cluecon-jpg.png
cluecon-rgb-write.png
cluecon-rgb.png
conf/*/
conf_playsay/*/
