*.o
*.lo
*.so
*.a
*.orig
*.rej
*.log

Makefile
config.*
configure
libtool
aclocal.m4
build/libtool.m4
build/ltoptions.m4
build/ltsugar.m4
build/ltversion.m4
build/lt~obsolete.m4

testanalog
testapp
testboost
testcid
testpri
testr2
testsangomaboost
testtones

!/msvc/testanalog/
!/msvc/testboost/

!/sample/boost/Makefile
!/sample/dso/Makefile

freetdm.2010.sdf
/mod_freetdm/Win32/
/msvc/Win32/
/src/ftmod/*/Win32/
/src/ftmod/*/x64/
