*.d
.bins
.docs
Makefile
config.mk
libs-*.mk
libs.doxy
vp8_rtcd.h
vp9_rtcd.h
vpx_config.asm
vpx_config.c
vpx_config.h
vpx_dsp_rtcd.h
vpx_scale_rtcd.h
vpx_version.h
tools-generic-gnu.mk
tools/tiny_ssim
.install-bins
.install-docs
.install-libs
.install-srcs
tools-x86_64-linux-gcc.mk
tools.dox
tools.doxy
tools/tiny_ssim.dox
								
!build/make/Makefile
